/*****                *****/
/***** NAVIGATION CSS *****/
/*****                *****/

body #content-header #sub-nav ul {
	text-align: center;
	padding-left: 0;
	border-bottom: 1px dashed #ccc;
}

body #content-header #sub-nav ul li {
	display: inline-block;
	margin-bottom: 30px;
}

/*****                      *****/
/***** edit_event_a.cfm CSS *****/
/*****                      *****/



/* Responsive CSS */
@media (max-width: 992px) {
	#column-1\20 body-padding > ul > li {
		max-width: 100%;
		display: block;
		margin: auto;
	}
	#column-1\20 body-padding > ul {
		max-width: 100%;
		display: block;
		margin: auto;
		padding: 0;
	}
	#column-1\20 body-padding {
		padding: 0;
	}
	#column-1\20 body-padding ul li table {
		width: 100%;
	}
}


/* Table correction */
.padding table {
	border-collapse: collapse;
}
.padding table td:first-child {
	text-align: left;
}
.padding table td::before, .padding table th::before {
	content: none;
	width: 0;
}

/* Body Content CSS */
#column-1\20 body-padding #events > div {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.3);
	max-width: 100%;
	display: block;
	margin: auto auto 35px;
}

#column-1\20 body-padding #events > div:nth-child(odd) {
	background: rgba(0,128,255,.1)!important;
	padding: 5px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,.1);
}

#column-1\20 body-padding #events > div:nth-child(even) {
	background: rgba(200,200,200,.1)!important;
	padding: 5px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,.1);
}

#column-1 {
	padding: 0 7.5%;
}

#padding-left-border {
	border-left: 4px double rgba(0,0,0,.125);
	padding-left: 5px;
}

#column-1\20 body-padding table {
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#semester-selector {
	display: block;
    background-color: #f7faff;
    border: .1em #d4d0d0 solid;
    padding: 1em;
    border-radius: 20px;
}

.element-list {
	list-style: none;
}

.element-list > li {
	margin: 10px 0;
}

/***** add-event.php *****/


.ui-datepicker-trigger {
	position: relative;
	top: 2px;
	left: 6px;
}

label.error {
	color: red;
	padding-left: 10px;
}

/*****                           *****/
/***** register-action_a.cfm CSS *****/
/*****                           *****/

.padding #column-w {
	padding: 0 7.5%;
}



/*****                    *****/
/***** edit_reg_a.cfm CSS *****/
/*****                    *****/

.padding #remove-bullets {
	list-style-type: none;
}



/*****                    *****/
/***** edit_reg_b.cfm CSS *****/
/*****                    *****/



/* Body Content CSS */
.content .remove-bullets {
	list-style-type: none;
}
/*
.content .resize-input input,
#Notes, #ConfidentialInfo,
#ForceReg > ul > select {
	min-width: 200px;
	max-width: 40%;
}
*/
.content .content-padding {
	padding: 0 5%;
}

#ForceReg > ul > select {
	margin-bottom: 5px;
} 



/*****             *****/
/***** BUTTONS CSS *****/
/*****             *****/



/* Edit Button*/
#edit-button {
	display: inline-block;
	margin-bottom: 10px;
}
#edit-button:link,
#edit-button:visited {
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,.4);
	font-weight: 500;
	color: rgba(255,255,255,.9);
	padding: 5px 10px;
	background: rgb(0,115,207);
  	background-image: -webkit-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -moz-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -ms-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -o-linear-gradient(top, #0081e9, #0065b6);
  	background-image: linear-gradient(to bottom, #0081e9, #0065b6);
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid #0065b6;
}

#edit-button:hover {
	background: rgb(0,115,207);
  	background-image: -webkit-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -moz-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -ms-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -o-linear-gradient(top, #0065b6, #0081e9);
  	background-image: linear-gradient(to bottom, #0065b6, #0081e9);
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid #0081e9;
}

#edit-button:active {
	background: rgb(0,105,197);
 	border: 2px solid #0081e9;
 	box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
}



/* Delete Button */
#delete-button:link,
#delete-button:visited {
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,.4);
	font-weight: 500;
	color: rgba(255,255,255,.9);
	padding: 5px 10px;
	background: rgb(200,0,0);
  	background-image: -webkit-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -moz-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -ms-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -o-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: linear-gradient(to bottom, rgb(220,0,0), rgb(150,0,0));
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid rgb(180,0,0);
}

#delete-button:hover {
	background: rgb(200,0,0);
  	background-image: -webkit-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -moz-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -ms-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -o-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: linear-gradient(to bottom, rgb(150,0,0), rgb(200,0,0));
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid rgb(200,0,0,.8);
}

#delete-button:active {
	background: rgb(150,0,0);
 	border: 2px solid rgb(180,0,0);
 	box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
}

/* Three Large Buttons */
body #content-header #sub-nav ul li a {
	margin: 0 20px;
}

body #content-header #sub-nav ul li a:link,
body #content-header #sub-nav ul li a:visited {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 500;
	color: #fff;
	padding: 10px 10px;
	background: #d68949;
  	background-image: -webkit-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -moz-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -ms-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -o-linear-gradient(top, #d68949, #c06f2c);
  	background-image: linear-gradient(to bottom, #d68949, #c06f2c);
  	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 4px 8px rgba(0,0,0,.5);
 	-o-box-shadow: 0 4px 8px rgba(0,0,0,.5);
  	border: 2px solid #c06f2c;
  	border-radius: 4px;
}

body #content-header #sub-nav ul li a:hover {
	background: #c06f2c;
    background-image: -webkit-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -moz-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -ms-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -o-linear-gradient(top, #c06f2c, #d68949);
 	background-image: linear-gradient(to bottom, #c06f2c, #d68949);
 	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	border: 2px solid #d68949;
 	border-radius: 4px;
 	text-shadow: 0 0 2px rgba(0,0,0,.5);
}

body #content-header #sub-nav ul li a:active {
	background: #c06f2c;
 	border: 2px solid #d68949;
 	border-radius: 4px;
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	   -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 		 -o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 			box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	text-shadow: 0 0 2px rgba(0,0,0,.5);
}