/* GENERAL HTML RULES */
.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.center-text {
	text-align: center;
}
@media print {
  a[href]:after {
    content: none !important;
  }
body, html {
margin-top:0px;
padding-top:0px;
}
}
/*-----------*/
.pagecontent {
	border-style: solid;
	border-width: 2px;
	border-color: #f5f5f5;
	background-color: #fff;
	padding: 50px;
	box-shadow: 0px 0px 6px 0px #333;
}
.breadcrumbs {
	float: left;
	display:inline;
	font-size:75%;
}

#userlinks ul {
	float: left;
	margin: 0;
	padding: 0;
}
#userlinks ul li {
	margin: 0 .8em;
	float: left;
	list-style-type: none;
}
#userlinks span {
	float: left;
	margin-right: 1em;
}


/*-----------*/
.innerpagecontent{
	padding:0px 50px;
}
.available {
	font-size:1em;
}
.clearfloat {
	clear: both;
	display: block;
	font-size: 1px;
	height: 1px;
	width: 100%;
}

.alertbox{
	background: #ffecec;
	border: 1px solid #f5aca6;
	border-radius: .5em;
	color: #555;
	padding: 1em;
	margin: 2em .5em;
}
.alertbox p {
	font-size: 1.2em;
}
.infobox{
	background: rgba(110, 200, 234, 0.07);
    border: 1px solid rgba(51, 159, 214, 0.06);
	//background:#FFFCF4;
	//border:1px solid #ECCCB1;
	border-radius:.5em;
	color: #333;
	padding: 1em;
	margin: .5em;
}
.redtext {
	color: red;
}
.bold {
	font-weight: bold;
}
.hidden {
	display: none;
}

table.events {
  width: 100%;
  border-collapse: collapse;
}

table.events th {
  background-color: #FAFEFF;
  font-weight: 600;
}

table.events tr {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

table.events tr:nth-child(even) {
  background-color: #FFFCF4;

}


/*table.events td:first-child, table.events th:first-child {
  padding-top: .5em !important;
} */
.registered_icon {
	margin: 0 auto;
	width: 13px;
}
.event_grey {
	color: #666;
	font-weight: bold;
}

@media (min-width: 600px) {
  table.events th {
    display: table-cell;
    padding: .25em .5em;
    text-align: left !important;
  }
}

@media all {
	#body {
		padding-bottom: 0;
	}
}

#foot {
	position: inherit;
}

#content-block-area {
	margin-bottom: 25px;
}

/* ADMIN STYLESHEET */
/* FOR ADMIN PAGES  */

/*****                *****/
/***** NAVIGATION CSS *****/
/*****                *****/

body .content #sub-nav ul {
	text-align: center;
	padding-left: 0;
	border-bottom: 1px dashed #ccc;
}

body .content #sub-nav ul li {
	display: inline-block;
	margin-bottom: 30px;
}



/*****                      *****/
/***** edit_event_a.cfm CSS *****/
/*****                      *****/



/* Responsive CSS */
@media (max-width: 992px) {
	#column-1\20 body-padding > ul > li {
		max-width: 100%;
		display: block;
		margin: auto;
	}
	#column-1\20 body-padding > ul {
		max-width: 100%;
		display: block;
		margin: auto;
		padding: 0;
	}
	#column-1\20 body-padding {
		padding: 0;
	}
	#column-1\20 body-padding ul li table {
		width: 100%;
	}
}



/* Body Content CSS */
#column-1\20 body-padding > ul > li {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,.3);
	max-width: 100%;
	display: block;
	margin: auto;
}

#column-1\20 body-padding > ul > li:nth-child(odd) {
	background: rgba(0,128,255,.1)!important;
	padding: 5px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,.1);
}

#column-1\20 body-padding > ul > li:nth-child(even) {
	background: rgba(200,200,200,.1)!important;
	padding: 5px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,.1);
}

#column-1\20 body-padding > ul > li {
	margin-bottom: 35px;
}

#column-1\20 body-padding {
	padding: 0 7.5%;
}

#column-1\20 body-padding ul li {
	list-style-type: none;
}

#padding-left-border {
	border-left: 4px double rgba(0,0,0,.125);
	padding-left: 5px;
}

#column-1\20 body-padding table {
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow: 0 0 5px rgba(0,0,0,.3);
}



/*****                           *****/
/***** register-action_a.cfm CSS *****/
/*****                           *****/

.padding #column-w {
	padding: 0 7.5%;
}



/*****                    *****/
/***** edit_reg_a.cfm CSS *****/
/*****                    *****/

.padding #remove-bullets {
	list-style-type: none;
}



/*****                    *****/
/***** edit_reg_b.cfm CSS *****/
/*****                    *****/



/* Body Content CSS */
.content .remove-bullets {
	list-style-type: none;
}

/*.content .resize-input input,
#Notes, #ConfidentialInfo,
#ForceReg > ul > select {
	min-width: 200px;
	max-width: 40%;
}*/

.content .content-padding {
	padding: 0 5%;
}

#ForceReg > ul > select {
	margin-bottom: 5px;
} 



/*****             *****/
/***** BUTTONS CSS *****/
/*****             *****/



/* Edit Button*/
#edit-button:link,
#edit-button:visited {
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,.4);
	font-weight: 500;
	color: rgba(255,255,255,.9);
	padding: 5px 10px;
	background: rgb(0,115,207);
  	background-image: -webkit-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -moz-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -ms-linear-gradient(top, #0081e9, #0065b6);
  	background-image: -o-linear-gradient(top, #0081e9, #0065b6);
  	background-image: linear-gradient(to bottom, #0081e9, #0065b6);
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid #0065b6;
}

#edit-button:hover {
	background: rgb(0,115,207);
  	background-image: -webkit-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -moz-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -ms-linear-gradient(top, #0065b6, #0081e9);
  	background-image: -o-linear-gradient(top, #0065b6, #0081e9);
  	background-image: linear-gradient(to bottom, #0065b6, #0081e9);
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid #0081e9;
}

#edit-button:active {
	background: rgb(0,105,197);
 	border: 2px solid #0081e9;
 	box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
}



/* Delete Button */
#delete-button:link,
#delete-button:visited {
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,.4);
	font-weight: 500;
	color: rgba(255,255,255,.9);
	padding: 5px 10px;
	background: rgb(200,0,0);
  	background-image: -webkit-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -moz-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -ms-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: -o-linear-gradient(top, rgb(220,0,0), rgb(150,0,0));
  	background-image: linear-gradient(to bottom, rgb(220,0,0), rgb(150,0,0));
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid rgb(180,0,0);
}

#delete-button:hover {
	background: rgb(200,0,0);
  	background-image: -webkit-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -moz-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -ms-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: -o-linear-gradient(top, rgb(150,0,0), rgb(200,0,0));
  	background-image: linear-gradient(to bottom, rgb(150,0,0), rgb(200,0,0));
  	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 4px rgba(0,0,0,.5);
  	border: 2px solid rgb(200,0,0,.8);
}

#delete-button:active {
	background: rgb(150,0,0);
 	border: 2px solid rgb(180,0,0);
 	box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	-o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
}



/* Three Large Buttons */
body .content #sub-nav ul li a {
	margin: 0 20px;
}

body .content #sub-nav ul li a:link,
body .content #sub-nav ul li a:visited {
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 500;
	color: #fff;
	padding: 10px 10px;
	background: #d68949;
  	background-image: -webkit-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -moz-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -ms-linear-gradient(top, #d68949, #c06f2c);
  	background-image: -o-linear-gradient(top, #d68949, #c06f2c);
  	background-image: linear-gradient(to bottom, #d68949, #c06f2c);
  	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 4px 8px rgba(0,0,0,.5);
 	-o-box-shadow: 0 4px 8px rgba(0,0,0,.5);
  	border: 2px solid #c06f2c;
  	border-radius: 4px;
}

body .content #sub-nav ul li a:hover {
	background: #c06f2c;
    background-image: -webkit-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -moz-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -ms-linear-gradient(top, #c06f2c, #d68949);
  	background-image: -o-linear-gradient(top, #c06f2c, #d68949);
 	background-image: linear-gradient(to bottom, #c06f2c, #d68949);
 	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	-o-box-shadow: 0 2px 5px rgba(0,0,0,.5);
 	border: 2px solid #d68949;
 	border-radius: 4px;
 	text-shadow: 0 0 2px rgba(0,0,0,.5);
}

body .content #sub-nav ul li a:active {
	background: #c06f2c;
 	border: 2px solid #d68949;
 	border-radius: 4px;
 	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	   -moz-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 		 -o-box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 			box-shadow: inset 0 0 2px rgba(0,0,0,.7);
 	text-shadow: 0 0 2px rgba(0,0,0,.5);
}

